body{
    background-color: #E3CCA1;
    font-family: "Tribuchet MS", Arial, Helvetica, sans-serif;
}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #FFF;
    border-right: solid 2px 8#52331C;
    border-left: solid 2px #52331C;
}

/*TEXT STYLES*/
h1{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 76px; 
    color: #4D331E;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4D331E
}
p{
    font-size: 16px;
    color: #4D331E;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/*MENU STYLES*/
#menu{
    width: 170px;
    float: left;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    background-color: #E8CC9F;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
#menu a:link, #menu a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none; 
}
#menu a:hover, #menu a:active{
    color: #900;
    text-decoration: underline;
}

/*MAIN SECTION STYLES*/
#main {
    margin-left:190px ;
}
#main h3{
    color: #4D331E;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
}
#main p{
    font-size:16px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#main a:link, #main a:visited{
    color: #900;
    font-weight: bold;
    text-decoration: none; 
}
#main a:hover, #main a:active{
    color: #03C;
    text-decoration: underline;
}

/*footer section*/
#footer{
    background-color: #4D331E;
    margin-top: 20px;
    clear:both; /*makes the footerr always sit underneath menu and image*/
}
#footer p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
    color: #000;
    text-align: center;
}
#footer a:link, #footer a:visited{
    color: #E8CC9F;
    text-decoration: underline; 
}
#footer a:hover, #footer a:active{
    color: #000;
    text-decoration: underline;
}

/*LINK STYLES*/
a:link, a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none; 
}
a:hover, a:active{
    color: #900;
    text-decoration: underline;
}
/*CLASS STYLES*/
.rightfloat{
    border: 2px solid #060;
    margin: 8px;
    float: right;
}